<div class="row events-page">
  <div class="col-xs-12">
    <div class="events">
      <div class="events--title">
        <h2>LRUG №4</h2>
        <span>25 березня 2014 року</span>
      </div>

      <div class="row">
        {{#each event in model}}
          <div class="col-xs-12 col-sm-6 event">
            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <div class="event--user-image">
                  {{#if event.imageUser}}
                    <img {{bind-attr src=event.imageUser}}>
                  {{else}}
                    <img src='/images/useravatar.png'>
                  {{/if}}
                </div>
              </div>
              <div class="col-xs-12 col-sm-9">
                <h4><a>{{event.title}}</a></h4>
                <div class="event-author">{{event.author}}</div>
                {{event.position}} &nbsp; в &nbsp; {{event.company}}, &nbsp; {{event.city}}
              </div>
            </div>

          </div>
        {{/each}}
      </div>
    </div>

    <div class="events-about">
      {{partial "about"}}
    </div>

  </div>
</div>