<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="job">
      <h1>{{title}}</h1>

      <div class="jobs-title-bottom">
        <a href="#">{{city}}</a>
        <span>{{price}} $</span>
        <span>
          {{#if jobTime}}
            full-time
          {{else}}
            part-time
          {{/if}}
        </span>
      </div>
      <hr />

      <div class="job-description">{{{description}}}</div>

      <div class="share">
        <h3 class="h3--bold">Поділитись вакансією з друзями</h3>
      </div>
      <hr />

      <div class="pagination">
        {{#each job in jobs}}
          {{#link-to 'job' job classNames="pagination-link" }}{{job.title}}{{/link-to}}<br />
        {{/each}}

      </div>

    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="on-email">
      <div class="on-email_label">Нові вакансії на email</div>
      <form>
        <input type="text" placeholder="ваш email">
        <button>Підписатись</button>
      </form>
    </div>

    <div class="add-job">
      <a href="#">+ Додати вакансію</a>
    </div>
  </div>
</div>