<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="item">
      <h1>{{title}}</h1>

      <div class="items-title-bottom">
        <a href="#">{{city}}</a>
        <span>{{price}} $</span>
        <span>
          {{#if jobTime}}
            full-time
          {{else}}
            part-time
          {{/if}}
        </span>
      </div>
      <hr />

      <div class="item-description">{{description}}</p>

      <div class="share">
        <h3 class="h3--bold">Поділитись вакансією з друзями</h3>
      </div>
      <hr />

    </div>
  </div>
</div>