<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1>Вакансії для Ruby розробників</h1>

    {{#each job in model}}
      <div class="items">
        <h2>{{#link-to 'job' job classNames="items-title" }}{{job.title}}{{/link-to}}</h2>
        <div class="items-title-bottom">
          <a href="#">{{job.city}}</a>
          <span>{{job.price}} $</span>
          <span>
            {{#if job.jobTime}}
              full-time
            {{else}}
              part-time
            {{/if}}
          </span>
        </div>

        <div class="items-description">
          {{job.smallDescription}}
        </div>

      </div>
    {{/each}}
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="on-email">
      <div class="on-email_label">Нові вакансії на email</div>
      <form>
        <input type="text" placeholder="ваш email">
        <button>Підписатись</button>
      </form>
    </div>

    <div class="add-job">
      {{#link-to 'create-job'}}+ Додати вакансію{{/link-to}}
    </div>
  </div>
</div>
