<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1>Вакансії для Ruby розробників</h1>

      <div class="item-filter">
        {{view "select"
          prompt="місто"
          content=cities
          optionValuePath="content.id"
          optionLabelPath="content.city"
          selection=selectedCity}}
      </div>

    {{#each filteredContent}}

      <div class="items">
        <h2>{{#link-to 'job' this classNames="items-title" }}{{title}}{{/link-to}}</h2>
        <div class="items-title-bottom">
          <a>{{city}}</a>
          <span>{{price}} $</span>
          <span>
            {{#if jobTime}}
              full-time
            {{else}}
              part-time
            {{/if}}
          </span>
        </div>

        <div class="items-description">
          {{smallDescription}}
        </div>

      </div>
    {{/each}}
  </div>
</div>
