<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1 class="desktop-title">Вакансії для Ruby розробників</h1>

    <div class="mobile-title">
      <h1>Вакансії</h1>
      <div class="add-job">
        <a href="#">+ Додати вакансію</a>
      </div>
    </div>

      <div class="item-filter">
        {{view "select"
          prompt="місто"
          content=cities
          optionValuePath="content.id"
          optionLabelPath="content.city"
          selection=selectedCity}}

          <span>від</span>
          {{input type='text' value=filterPrice action="sortBy"}}
          <span>&#36;</span>
      </div>

    {{#each filteredContent}}

      <div class="items">
        <h2>{{#link-to 'job' this classNames="items-title" }}{{position}} в {{company}}{{/link-to}}</h2>

        <div class="items-title-bottom">
          <a>{{city}}</a>
          <span>{{price}} $</span>
          <span>
            {{#if jobTime}}
              full-time
            {{else}}
              part-time
            {{/if}}
          </span>
        </div>

        <div class="items-description">
          {{{description}}}
        </div>

      </div>
    {{/each}}
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="on-email">
      <div class="on-email_label">Нові вакансії на email</div>
      <form>
        <input type="text" placeholder="ваш email">
        <button>Підписатись</button>
      </form>
    </div>

    <div class="add-job">
      {{#link-to 'create-job'}}+ Додати вакансію{{/link-to}}
    </div>
  </div>
</div>
