<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="item">
      <h1>{{title}}</h1>

      <div class="items-title-bottom">
        {{date}}, {{time}}&nbsp;&nbsp;&nbsp;{{author}}
      </div>
      <hr />

      <div class="item-description">{{{description}}}</p>

      <hr />

    </div>
  </div>
</div>
